.we {
    background-image: url("https://images.unsplash.com/photo-1570475735025-6cd1cd5c779d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8dGV4dHVyZSUyMHBpbmt8ZW58MHx8MHx8fDA%3D&w=1000&q=80");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding-bottom: 60px;
}

.section__we {
    display: flex;
}

.main__cosmetics {
    display: flex;
    justify-content: space-around;
}

    .main__cosmetics__img {
        width: 370px;
        height: 270px;
        border-style: solid;
        border-width: 5px;
        border-color: black;

        .main__cosmetics__img__txt {
            font-size: 20px;
            font-weight: 300;
            color: black;
            padding-left: 0px;
            padding-bottom: 0px;
            z-index: 1;
        }
    }

.main__cosmetics__tittle{
    display: flex;
    justify-content: center;
    align-items: center;
}
.img__txt{
    display: block;
}
